<h2>VS. <%= @other_player_name%></h2>
<div id="grid">
  <% for i in 1..9 %>
  <div class="grid-element">
    <% if @squares_values[i].nil?  %>
    <% if @playing_as == "X" %>
    <%= link_to image_tag("whitecross.png", :alt => "Play", :class => "square cross"), add_move_match_path(square: i), method: :put if @match.is_my_turn?(current_user) && !@match.is_there_a_winner? %>
    <%= image_tag("blanksquare.png", class: "square") if !@match.is_my_turn?(current_user) || @match.winner != nil  %>
    <% else %>
    <%= link_to image_tag("whitecircle.png", :alt => "Play", :class => "square circle"), add_move_match_path(square: i), method: :put if @match.is_my_turn?(current_user) && !@match.is_there_a_winner? %>
    <%= image_tag("blanksquare.png", class: "square") if !@match.is_my_turn?(current_user) || @match.winner != nil  %>
    <% end %>
    <% else %>
    <%  if @squares_values[i] == "X"%>
    <%= image_tag("blackcross.png", class: "square") %>
    <% elsif @squares_values[i] == "O"%>
    <%= image_tag("blackcircle.png", class: "square") %>
    <% end %>
    <% end %>
  </div>
  <% end %>
</div>

<div class="clear"></div>


<% if @match.winner_id? && @match.winner_id != 0 %>
<% if @match.winner_id == current_user.id  %>
You win!
<% else %>
<%= User.find(@match.winner_id).nickname%> wins!
<% end %>
<% end %>
<% if @match.winner_id == 0 %>
It's a draw!
<% end %>